/*обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

/*Убирает крестик в текст-боксе IE*/
button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/*Убирает лишни отступы и пробелы в кнопках браузера FireFox*/
a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/*----------------------*/


.App {
    display: block;
    font-family: Roboto;
    background-color: rgba(236,232,223,1);

    color: #486260;
}


.toAddNewAnimal {
    display: flex;
    justify-content: center;
}

.column {
    width: 45%;
}


.mainTitle {
    text-align: center;
    font-size: 5em;
    margin: 0 auto;
    font-weight: 800;
}


h1 {
    color: #5a7674;
}


.main {
    display: flex;
    justify-content: space-between;
}


.column {
    width: 48%;
}
